**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Benjamin Xia
- Kailey Wong
- Jesus Tello
- Jungwoon Ko
- Yusuke Yanagawa

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

How much of an impact do cryptocurrency miners/prices actually have on GPU prices and stock for individual customers (e.g. gamers)? Are there any other factors that have had a larger impact (e.g. global chip shortages affecting GPU's and other kinds of chips)?

## Background and Prior Work


Graphics Processing Units (a.k.a. GPUs, graphics cards, video cards) allow computers to perform parallel computations on a scale that is simply impossible on most traditional processing units (central processing units, a.k.a. CPUs). GPUs have allowed faster data processing, rendering, training for machine learning algorithms, and more. Gaming on a low-spec potato laptop often hinders the smooth play of demanding triple-A titles due to hardware limitations. To cope, users must reduce graphics settings, sacrificing visual quality for better performance. However, some games may still remain unplayable, necessitating the exploration of less demanding titles or an upgrade to a more powerful system. Many game developers are even expecting players to have powerful machines as an excuse not to optimize their games to perform well on lower-end machines properly.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) As computer graphics continue to progress and games become more graphically intensive, demand for consumer-grade GPUs such as NVIDIA's Geforce lineup has only grown.

When cryptocurrency became mainstream (around 2017), more people started mining cryptocurrencies with consumer-grade GPUs due to their unreasonable effectiveness compared to traditional processors and the lack of supply for ASIC (Application-Specific Integrated Circuit) units specialized for cryptocurrency mining.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) Cryptocurrency miners, along with the onset of the pandemic led to GPU supplies dwindling, leading gamers to start blaming cryptocurrency miners for GPU shortages and sky-high pricing by eBay scalpers. Many GPU models, such as the NVIDIA GTX 1000 series and RTX 3000 series, were unavailable at MSRP (Manufacturer's Suggested Retail Price) for months. Gamers' reaction to the GPU market is evident by overall sentiment on online communities such as Reddit.<a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3) Vendors have attempted to allow more individual customers to get their hands on these precious GPU's by imposing purchase limits.<a name="cite_ref-4"></a>[<sup>4</sup>](#cite_note-4)

The story of how GPU prices skyrocketed has since become a case study in how supply and demand can swiftly decimate a consumer market.<a name="cite_ref-5"></a>[<sup>5</sup>](#cite_note-5)

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Crider, Michael (7 Sep 2023) Pre-Crypto Prices When? *PCWorld*. https://www.pcworld.com/article/2058969/trouble-running-starfield-todd-howard-says-upgrade-your-pc.html
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Iyer, S.G., Pawar, A. Dipakumar. (28 Feb 2019) GPU and CPU Accelerated Mining of Cryptocurrencies and their Financial Analysis *IEEE*. https://ieeexplore.ieee.org/document/8653733
3. <a name="cite_note-3"></a> [^](#cite_ref-3) u/rcmaehl (18 Nov 2018) Pre-Crypto Prices When? *r/pcmasterrace*. https://www.reddit.com/r/pcmasterrace/comments/9ygmux/precrypto_prices_when/
4. <a name="cite_note-4"></a> [^](#cite_ref-4) Dent, Steve (11 Feb 2022) Best Buy Limits Sales of NVIDIA RTX-Series GPUs to Totaltech Subscribers. *EnGadget*. https://www.engadget.com/best-buy-gpu-sales-totaltech-membership-paywall-092357559.html
5. <a name="cite_note-5"></a> [^](#cite_ref-5) Lim, H.W., Wibowo, T. (12 Apr 2022) Cryptocurrency Mining Effects On Semiconductor Shortage on PC Owner Community. *CoMBInES - Conference On Management, Business, Innovation, Education And Social Sciences*. https://journal.uib.ac.id/index.php/combines/article/view/6634

# Hypothesis

We suspect that cryptocurrency miners do have some impact on GPU prices and supply (in that there is some positive correlation between cryptocurrency prices and GPU prices), though its impact is often exaggerated by gamers on online communities as external factors such as chip (semiconductor) shortages often have a greater impact on price and supply. We believe this to be the case because many vendors often place limits on how many GPU's customers can purchase at at a time, and many of the GPU shortages have happened to coincide with global chip shortages (that were not isolated to GPU's).

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: Steam Hardware Surveys
  - Link to the dataset: https://raw.githubusercontent.com/jdegene/steamHWsurvey/master/shs.csv
  - Number of observations: 9543
  - Number of variables: 5
  
Each observation in this data set has a date for the date of the survey response, category for the type of hardware the entry is for, the name of the particular product, the percentage change in popularity from the previous month (negative values indicate less popularity, positive more popularity), and the percentage of total items in the category that the particular product makes up. The date, category, and name are strings, and the change and percentage are floats. This data will help us to understand the usage of particular GPU products over time. To wrangle and clean the dataset, we will need to filter the data by dates and the hardware category we are interested in, then check for and drop rows with missing data.

- Dataset #2
  - Dataset Name: Bitcoin USD Historical Data
  - Link to the dataset: https://finance.yahoo.com/quote/BTC-USD/history?period1=1420070400&period2=1698796800&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true
  - Number of observations: 107
  - Number of variables: 7 
  
Each observation in this data set has a date to indicate what month/year the data corresponds to, the opening price, the highest price during that month, the lowest price during that month, the closing price for that month, an adjusted closing price for splits/dividend/capital gain distributions (all in USD/floats), and volume of stocks traded during that month (integers). This data will help us to understand how bitcoin prices fluctuate overtime. We are able to preselect the dates we are interested in when downloading the csv for the data, so to wrangle and clean the dataset, we only need to check for missing data, and standardize the column headers to make it easier to combine datasets later on.

- Dataset #3
    - Dataset Name: Ethereum USD Historical Data
  - Link to the dataset: https://finance.yahoo.com/quote/ETH-USD/history?period1=1510185600&period2=1698796800&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true
  - Number of observations: 72
  - Number of variables: 7
  
Same as for bitcoin, each observation in this data set has a date to indicate what month/year the data corresponds to, the opening price, the highest price during that month, the lowest price during that month, the closing price for that month, an adjusted closing price for splits/dividend/capital gain distributions (all in USD/floats), and volume of stocks traded during that month (integers). This data will serve as another proxy to help us to understand how bitcoin prices fluctuate overtime. We are able to preselect the dates we are interested in when downloading the csv for the data, so to wrangle and clean the dataset, we only need to check for missing data, and standardize the column headers to make it easier to combine datasets later on (being able to distinguish between BTC vs ETH data).

- Dataset #4
  - Dataset Name: Historical CPU sell price/sell volume
  - Link to the dataset: Scraped from Ebay Terapeak: https://www.ebay.com/help/selling/selling-tools/terapeak-research?id=4853
  - Number of observations: 18527
  - Number of variables: 4

This was scraped from Ebay Terapeak using the script in our repository `ebay_scraper.py`. Each observation has a UNIX timestamp (which could easily be converted to month/year), model name, along with that CPU model's average sell price each week (in USD) and average count of units sold that week. This data will serve as a proxy to help us understand how GPU and CPU prices and supply have changed over time, and we will take a look at how they relate to each other (CPU vs. GPU prices), and cryptocurrency prices over time. The data we collected is (mostly) clean, though we do need to remove observations that come before a model was released, as an Intel 13700k would obviously have 0 units sold in 2020 as it wasn't even released then. The datatypes are integer timestamps, model names as strings, sell price in USD (integers, though Pandas will interpret them as floats by default), and units sold as integers. 

- Dataset #5
  - Dataset Name: Historical GPU sell price/sell volume
  - Link to the dataset: Scraped from Ebay Terapeak: https://www.ebay.com/help/selling/selling-tools/terapeak-research?id=4853
  - Number of observations: 6438
  - Number of variables: 4

Identical format to dataset #4.
This was scraped from Ebay Terapeak using the script in our repository `ebay_scraper.py`. Each observation has a UNIX timestamp (which could easily be converted to month/year), model name, along with that GPU model's average sell price each week (in USD) and average count of units sold that week. This data will serve as a proxy to help us understand how GPU and CPU prices and supply have changed over time, and we will take a look at how they relate to each other (CPU vs. GPU prices), and cryptocurrency prices over time. The data we collected is (mostly) clean, though we do need to remove observations that come before a model was released, as an RTX 4080 would obviously have 0 units sold in 2020 as it wasn't even released then. The datatypes are integer timestamps, model names as strings, sell price in USD (integers, though Pandas will interpret them as floats by default), and units sold as integers. 


To combine these datasets, we will take their intersection based on the dates. We may need to combine observations from our CPU and GPU data to be monthly in order to accomplish this (though this may not be completely necessary). Once the data is all "synced" up, we can combine different kinds of data into a signle table for finer-grained analysis of different variables.

In [2]:
import pandas as pd
from datetime import datetime

## Steam Hardware Surveys

In [9]:
# Load the data
steam_survey = pd.read_csv('https://raw.githubusercontent.com/jdegene/steamHWsurvey/master/shs.csv')

# Check out the data
steam_survey.head()

         date        category                 name  change  percentage
0  2008-11-01  AMD CPU Speeds  1.4 Ghz to 1.49 Ghz -0.0004      0.0036
1  2008-11-01  AMD CPU Speeds  1.5 Ghz to 1.69 Ghz -0.0025      0.0224
2  2008-11-01  AMD CPU Speeds  1.7 Ghz to 1.99 Ghz -0.0024      0.0714
3  2008-11-01  AMD CPU Speeds  2.0 Ghz to 2.29 Ghz -0.0040      0.1343
4  2008-11-01  AMD CPU Speeds  2.3 Ghz to 2.69 Ghz  0.0001      0.0727

In [10]:
# Filter the survey responses by date
# We will only be looking at data from the last 8 years, or since 2015
# Reset the indexes
steam_dates = steam_survey[pd.to_datetime(steam_survey['date']).dt.year >= 2015].reset_index().drop(labels='index',axis=1)
steam_dates.head()

         date               category              name  change  percentage
0  2015-01-01  Free Hard Drive Space   10 GB to  99 GB -0.0029      0.2012
1  2015-01-01  Free Hard Drive Space  100 GB to 249 GB -0.0006      0.2468
2  2015-01-01  Free Hard Drive Space  250 GB to 499 GB -0.0008      0.2608
3  2015-01-01  Free Hard Drive Space  500 GB to 749 GB  0.0015      0.1232
4  2015-01-01  Free Hard Drive Space  750 GB to 999 GB  0.0020      0.0879

In [11]:
# What types of categories are in this dataset?
steam_dates['category'].value_counts()

category
Video Card Description              9599
Multi-Monitor Desktop Resolution    5645
Language                            2987
Primary Display Resolution          2422
Physical CPUs                       2327
OS Version                          2174
Other Settings                      1741
System RAM                          1516
VRAM                                1347
VR Headsets                         1182
Intel CPU Speeds                    1067
Free Hard Drive Space                999
Total Hard Drive Space               820
Network Speed                        656
Microphones                          231
Name: count, dtype: int64

In [12]:
# We only care about GPU data
steam_gpu = steam_dates[steam_dates['category'] == 'Video Card Description']

steam_gpu['category'].value_counts()

category
Video Card Description    9599
Name: count, dtype: int64

In [13]:
# check if there is any missing data
steam_gpu[steam_gpu.isnull().any(axis=1)].head()

             date                category name  change  percentage
14389  2018-09-01  Video Card Description  NaN  0.0021      0.0021
14707  2018-10-01  Video Card Description  NaN -0.0002      0.0019
15035  2018-11-01  Video Card Description  NaN  0.0002      0.0021
15369  2018-12-01  Video Card Description  NaN  0.0002      0.0023
15699  2019-01-01  Video Card Description  NaN  0.0001      0.0024

In [14]:
# Drop missing data
steam_gpu = steam_gpu.dropna()

assert steam_gpu[steam_gpu.isnull().any(axis=1)].shape == (0,5)
steam_gpu

,date,category,name,change,percentage
292,2015-01-01,Video Card Description,AMD Radeon HD 4350,0.0025,0.0025
293,2015-01-01,Video Card Description,AMD Radeon HD 4650,0.0029,0.0029
294,2015-01-01,Video Card Description,AMD Radeon HD 4670,0.0024,0.0024
295,2015-01-01,Video Card Description,AMD Radeon HD 4850,0.0026,0.0026
296,2015-01-01,Video Card Description,AMD Radeon HD 4870,0.0016,0.0016
...,...,...,...,...,...
34708,2023-10-01,Video Card Description,NVIDIA GeForce RTX 4070 Laptop GPU,-0.0003,0.0016
34709,2023-10-01,Video Card Description,NVIDIA GeForce RTX 4070 Ti,0.0005,0.0090
34710,2023-10-01,Video Card Description,NVIDIA GeForce RTX 4080,0.0011,0.0062
34711,2023-10-01,Video Card Description,NVIDIA GeForce RTX 4090,-0.0010,0.0061
34712,2023-10-01,Video Card Description,Other,-0.0067,0.0956

In [15]:
# What is the shape of this data set?
steam_gpu.shape

(9543, 5)

## Bitcoin Historical Data

In [9]:
# Load the data
bitcoin = pd.read_csv('BTC-USD.csv')

# Check out the data
bitcoin.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,320.434998,320.434998,171.509995,217.464005,217.464005,1098811912
1,2015-02-01,216.867004,265.610992,212.014999,254.263000,254.263000,711518700
2,2015-03-01,254.283005,300.044006,236.514999,244.223999,244.223999,959098300
3,2015-04-01,244.223007,261.798004,214.873993,236.145004,236.145004,672338700
4,2015-05-01,235.938995,247.804001,228.572998,230.190002,230.190002,568122600

In [10]:
# check if there is any missing data
assert bitcoin[bitcoin.isnull().any(axis=1)].shape == (0,7)

In [11]:
# What is the shape of this data set?
bitcoin.shape

(107, 7)

In [12]:
# Standardize column headers to lower case and add btc prefix

bitcoin.columns = bitcoin.columns.str.lower()
bitcoin = bitcoin.add_prefix("btc_")
bitcoin.head()

,btc_date,btc_open,btc_high,btc_low,btc_close,btc_adj close,btc_volume
0,2015-01-01,320.434998,320.434998,171.509995,217.464005,217.464005,1098811912
1,2015-02-01,216.867004,265.610992,212.014999,254.263000,254.263000,711518700
2,2015-03-01,254.283005,300.044006,236.514999,244.223999,244.223999,959098300
3,2015-04-01,244.223007,261.798004,214.873993,236.145004,236.145004,672338700
4,2015-05-01,235.938995,247.804001,228.572998,230.190002,230.190002,568122600

## Ethereum Historical Data

In [13]:
# Load the data
ethereum = pd.read_csv('ETH-USD.csv')

# Check out the data
ethereum.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-12-01,445.209015,881.943970,414.411011,756.732971,756.732971,79862276544
1,2018-01-01,755.757019,1432.880005,742.004028,1118.310059,1118.310059,163610220288
2,2018-02-01,1119.369995,1161.349976,574.419006,855.198975,855.198975,83393441152
3,2018-03-01,856.012024,880.302002,368.632996,396.457001,396.457001,53716179584
4,2018-04-01,397.253998,708.875000,363.804993,669.924011,669.924011,60669918656

In [14]:
# check if there is any missing data
assert ethereum[ethereum.isnull().any(axis=1)].shape == (0,7)

In [15]:
# What is the shape of this data set?
ethereum.shape

(72, 7)

In [16]:
# Standardize column headers to lower case and add eth prefix

ethereum.columns = ethereum.columns.str.lower()
ethereum = ethereum.add_prefix("eth_")
ethereum.head()

,eth_date,eth_open,eth_high,eth_low,eth_close,eth_adj close,eth_volume
0,2017-12-01,445.209015,881.943970,414.411011,756.732971,756.732971,79862276544
1,2018-01-01,755.757019,1432.880005,742.004028,1118.310059,1118.310059,163610220288
2,2018-02-01,1119.369995,1161.349976,574.419006,855.198975,855.198975,83393441152
3,2018-03-01,856.012024,880.302002,368.632996,396.457001,396.457001,53716179584
4,2018-04-01,397.253998,708.875000,363.804993,669.924011,669.924011,60669918656

## Historical CPU Prices/Sell Volume

In [17]:
# Load and check out the data
cpu_price = pd.read_csv('./cpu_prices.csv')
cpu_volume = pd.read_csv('./cpu_volume.csv')
cpu = cpu_price.merge(cpu_volume)
cpu.dropna(axis=1, inplace=True) # There was a junk column of nan's
cpu = cpu[['model', 'timestamp', 'price', 'volume']]
cpu.head()

           model      timestamp   price  volume
0  Ryzen 7 1700X  1604908800000  165.00       1
1  Ryzen 7 1700X  1605513600000  194.96       1
2  Ryzen 7 1700X  1606118400000  194.96       7
3  Ryzen 7 1700X  1606723200000  194.96       0
4  Ryzen 7 1700X  1607328000000  244.96       2

In [18]:
# check if there is any missing data
assert cpu[cpu.isnull().any(axis=1)].shape == (0,4)

In [19]:
# Change timestamps to datetimes
cpu['date'] = cpu['timestamp'].apply(lambda x: datetime.fromtimestamp(x / 1000))
cpu.drop(['timestamp'], axis=1, inplace=True)

In [20]:
# Drop observations before a model's release date
cpu = cpu[(cpu['price'] != 0) & (cpu['volume'] != 0)]

In [21]:
# What is the shape of this (filtered) data set?
cpu.shape

(7383, 4)

In [22]:
# What are the types of this data?
cpu.dtypes

model             object
price            float64
volume             int64
date      datetime64[ns]
dtype: object

In [23]:
# Add cpu prefix to column names
cpu = cpu.add_prefix("cpu_")
cpu.head()

       cpu_model  cpu_price  cpu_volume   cpu_date
0  Ryzen 7 1700X     165.00           1 2020-11-09
1  Ryzen 7 1700X     194.96           1 2020-11-16
2  Ryzen 7 1700X     194.96           7 2020-11-23
4  Ryzen 7 1700X     244.96           2 2020-12-07
5  Ryzen 7 1700X     199.50           2 2020-12-14

## Historical GPU Prices/Sell Volume

In [24]:
# Load and check out the data
gpu_price = pd.read_csv('./gpu_prices.csv')
gpu_volume = pd.read_csv('./gpu_volume.csv')
gpu = gpu_price.merge(gpu_volume)
gpu.dropna(axis=1, inplace=True) # There was a junk column of nan's
gpu = gpu[['model', 'timestamp', 'price', 'volume']]
gpu.head()

             model      timestamp  price  volume
0  Geforce GTX 960  1604908800000   0.00       0
1  Geforce GTX 960  1605513600000  99.99       1
2  Geforce GTX 960  1606118400000  99.99       0
3  Geforce GTX 960  1606723200000  99.99       0
4  Geforce GTX 960  1607328000000  99.99       0

In [25]:
# check if there is any missing data
assert gpu[gpu.isnull().any(axis=1)].shape == (0,4)

In [26]:
# Change timestamps to datetimes
gpu['date'] = gpu['timestamp'].apply(lambda x: datetime.fromtimestamp(x / 1000))
gpu.drop(['timestamp'], axis=1, inplace=True)

In [27]:
# Drop observations before a model's release date
gpu = gpu[(gpu['price'] != 0) & (gpu['volume'] != 0)]

In [28]:
# What is the shape of this (filtered) data set?
gpu.shape

(3654, 4)

In [29]:
# What are the types of this data?
gpu.dtypes

model             object
price            float64
volume             int64
date      datetime64[ns]
dtype: object

In [30]:
# Add gpu prefix to column names
gpu = gpu.add_prefix("gpu_")
gpu.head()

         gpu_model  gpu_price  gpu_volume   gpu_date
1  Geforce GTX 960      99.99           1 2020-11-16
5  Geforce GTX 960     122.00           1 2020-12-14
7  Geforce GTX 960     101.00           1 2020-12-28
8  Geforce GTX 960     115.00           1 2021-01-04
9  Geforce GTX 960      84.95           2 2021-01-11

# Ethics & Privacy

Our data come from Steam surveys, eBay sales, and general finance data. All of these sources are easily-accessible and public information. Because the data from the Steam surveys is already anonymized, there should not be any ethical or privacy concerns with being able to extrapolate personal identifiable information from the survey data. However, this makes it difficult to account for any potential biases in the dataset as we can only guess at the demographic of Steam users who answered the survey. Additionally, in these types of surveys it is important to be aware of many different types of biases that may come into play, including non-response, self-reporting, and other confounding variables, which could lead to a disproportionate amount of high-end hardware appearing in survey results. When choosing to scrape data from eBay, we had to be aware of terms of service and other restrictions before choosing this as a source for our final dataset. Regarding eBay sales and finance data, we donâ€™t anticipate any ethical or privacy related concerns in our use of the data since by nature it is anonymized. There is potential to be able to identify individual companies or investors through the data, one way to address this is simply aggregating data, since we only require a broader overview. There may be concerns as to how this data is acquired and any potential biases that may be introduced. To help detect these biases as we perform analysis of the data, we will be careful to thoroughly explore the data before deeper analysis, attempting to fully understand it and being careful to note factors that may indicate biases in the data. In our post-analysis, we will discuss the results of our exploration. If we suspect any biases, we will explain their significance and the impact on the results of our analysis.

# Team Expectations

* Attend weekly meetings on Sunday 9pm (or have a good excuse).
* On weeks where some project component is due on Wednesday, attempt to have a working draft (e.g. 90% complete) by Monday, have everyone look over everything and revise on Tuesday, and finalize on Wednesday. Depending on the scale of a project component this timeline may be pushed forward.
* If you ghost meetings without saying anything or fail to make meaningful attempts to contribute, your name will not be added to the notebook corresponding to whatever project component is due, and there will be a note that you did not contribute underneath everyone else's names :(
* Don't sabotage other people's stuff >:(
* Don't plagiarize :)

# Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 10/23  | 4:10 PM | Review previous data analysis projects and think about strengths and weaknesses of each project | Discuss about previous projects to avoid making the same mistakes|
| 10/30  | 9:00 PM | Brainstorm topics/questions; Review the previous project to get some idea  | Determine best form of communication; Discuss and decide on data analysis topic; discuss hypothesis; begin background research |
| 11/05  | 9:00 PM |Finalize datasets we will use for our project | Discuss about data wrangling and possible analytical approaches; Descriptive Analysis for checkpoint 1 | 
| 11/12  |  9:00 PM |  Data Cleaning and preprocessing; Explores the data | draft data checkpoint;Assign group members to lead each specific part | 
| 11/19  | 9:00 PM  | Finalize and submit data checkpoint; Import & Wrangle Data; EDA  | Review/Edit wrangling/EDA; Discuss Analysis Plan; Draft EDA Checkpoint;   |
| 11/26  |9:00 PM  | Finalize EDA Checkpoint and submit; Begin Anlysis| Discuss/edit Analysis  |
| 12/03  | 9:00 PM  | Complete analysis; Draft results/conclusion/discussion; | Discuss/edit final project |
| 12/10  | 9:00 PM  | Make demo video| Turn in Final Project & Video |