In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.cgdirector.com/gpu-msrp-list/"

response = requests.get(url)

if response.status_code == 200:

    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table', {'id': 'tablepress-172'})

    rows = []
    for row in table.find_all('tr'):
        cols = row.find_all(['td', 'th'])
        cols = [col.text.strip() for col in cols]
        rows.append(cols)

    gpu_msrp = pd.DataFrame(rows[:-1][1:], columns=rows[0])

else:
    print("Failed to retrieve webpage.")

In [22]:
gpu_msrp.head()

        Graphics Card Launch MSRP (US$)
0  Nvidia RTX 3090 Ti              1999
1     Nvidia RTX 4090              1599
2     Nvidia RTX 3090              1499
3     Nvidia RTX 4080              1199
4  Nvidia RTX 3080 Ti              1199

In [23]:
# Clean up headers and look at shape
gpu_msrp.columns = gpu_msrp.columns.str.replace('(US$)','').str.strip().str.lower().str.replace(' ','_')
gpu_msrp.shape

(57, 2)